<template>
	<div>
		<div class="container">
			<div class="row">
				<div v-for="ballot in elections.ballots">
					<div :class="'col s'+12/elections.ballots.length">
						<p>
							<label>
								<input :value="ballot.party.id" v-model="selectedParties" type="checkbox" />
								<span>{{ballot.party.name}}</span>
							</label>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div v-if="selectedParties.length > 0" style="position: sticky;top: 1em;z-index: 11;">
				<div :class="'col s'+Math.floor(12/selectedParties.length)"  v-for="party in partiesSorted">
					<div class="card-panel">{{getPartyData(party).party.name}}</div>
				</div>
			</div>
			<div v-if="!notLoad" class="row">
				<div class="col s12" v-for="i in 6">
					<preloader-component :contentText="true"></preloader-component>
				</div>
			</div>
			<div v-else-if="selectedParties.length > 0">
				<div v-for="category in categories">
					<h5> <i class="material-icons" style="vertical-align: bottom;">{{category.image}} </i> {{category.name}}</h5>
					<div class="divider"></div>
					<div class="row">
						<div :class="'col s'+Math.floor(12/selectedParties.length)" v-if="party" v-for="party in category.partyProposals">
							<div class="col s12" v-for="proposal in party">
								<proposal-card-component :cardstyle="['card']" :backgroundCC="category.color" :proposal="proposal"></proposal-card-component>
							</div>
						</div>
						<div v-else :class="'col s'+Math.floor(12/selectedParties.length)">
							<div class="card-panel teal lighten-2"> Este Partido no tiene propuestas políticas en este tema.</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import PreloaderComponent from "../Helpers/PreloaderComponent";
	import ProposalCardComponent from "../Cards/ProposalCardComponent";
	export default {
		name: "ComparePage",
		components: {ProposalCardComponent, PreloaderComponent},
		mounted(){
			this.getParties()
		},
		data(){
			return {
				elections: [],
				selectedParties:[],
				notLoad: true,
				categories: null,
				partiesSorted:[]
			}
		},
		watch: {
			selectedParties: function(){
				this.getPorposals()
				this.partiesSorted = JSON.parse(JSON.stringify(this.selectedParties));
				this.partiesSorted.sort();
			}
		},
		methods:{
			getParties(){
				axios
					.get("/api/parties")
					.then(res => {
						this.elections = res.data.find( elem => {return elem.id === 3});
						console.log(this.elections);
					})
			},
			getPartyData(id){
				return this.elections.ballots.find(elem => {
					return elem.party_id == id
				})
			},
			getPorposals(){
				let self = this;
				self.notLoad=false;
				let body = {
					'parties':this.selectedParties
				}
				body._token = document.querySelector("meta[name='csrf-token']").getAttribute("content");
				axios
					.post("/api/compare",body)
					.then(res => {
						this.categories = res.data
						this.notLoad = true
						console.log(this.notLoad)
					})
			},
		}
	}
</script>

<style scoped>

</style>