<template>
	<div>
		<div class="img-background">
			<div class="container">
				<div class="header valign-wrapper">
					<div class="header-text row">
						<div class="col s12">
							<div class="center">
								<img src="\img\logo_4.png" style="max-width: 350px;">
							</div>
							<h6>Todas las propuestas y programas electorales de los Candidatos a Presidente de la Nación 2019.</h6>
							<h6>✔ Informate</h6>
							<h6>✔ Compará</h6>
							<h6>✔ Decidí</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="notLoad">
			<div class="col s12 m6 l4 xl3" v-for="i in 6">
				<preloader-component :contentText="true"></preloader-component>
			</div>
		</div>
		<div v-else class="row" v-for="election in elections">
			<h3 class="center">{{election.name}} {{election.year}}</h3>
			<div class="col s12 m6 l4 xl3" v-for="ballot in election.ballots">
				<card-componenet :title="ballot.party.name" :img="ballot.party.image" :description="ballot.party.description" :color="ballot.party.color" :partyid="ballot.party.id"></card-componenet>
			</div>
		</div>
	</div>
</template>

<script>
	import CardComponenet from "../Cards/CardComponenet";
	import PreloaderComponent from "../Helpers/PreloaderComponent";
	export default {
		name: "PartiesPages",
		components: {PreloaderComponent, CardComponenet},
		mounted(){
			this.getParties()
		},
		data(){
			return {
				elections: [],
				notLoad: true,
			}
		},
		methods:{
			getParties(){
				axios
					.get("/api/parties")
					.then(res => {
						this.elections = res.data
						console.log(this.elections);
						this.notLoad = false;
					})
			}
		}
	}
</script>

<style scoped>
	.header{
		min-height: 300px;
	}
	.header-text{
		display: block;
	}
	.img-background{
		background-color: #006c87;
		color:white;
	}
</style>