<template>
	<div class="container">
		<h2>¿Quiénes Somos?</h2>
		<p>
			Somos un grupo de activistas que velan por la integración del ciudadano en el proceso de toma de decisiones de la cosa pública,
			lo que nos llevó, junto a otros ciudadanos, a fundar el Partido de la Red en la Ciudad de Buenos Aires como primer hito y luego,
			siendo miembros del movimiento que apunta a transformar la política en el mundo, a promover una visión disruptiva,
			una nueva forma de hacer política.
		</p>
		<p>A través de esta iniciativa, "Que Proponen" queremos poner al alcance de la mano de todos los ciudadanos de este país,
			las propuestas y programas electorales de todas las fuerzas políticas que participarán de las Elecciones Presidenciales de 2019.
		</p>
		<p>Si queres que el Partido de la Red sea una opción para el 2021 <a href="http://partido.red">Anotate acá.</a> </p>

		<div class="row">
			<h3>Equipo</h3>
			<div class="col s12 m6 l4 center team">
				<img src="https://pbs.twimg.com/profile_images/1054912068128784384/1PCVsmJf_400x400.jpg" class="responsive-img circle">
				<h5>Gonzalo Stupenengo</h5>
				<p>Contenido</p>
				<div class="col s6"><a href="https://www.linkedin.com/in/gonzalo-stupenengo-8b751427/" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" class="social-icons"> Linkedin</a></div>
				<div class="col s6"><a  href="https://twitter.com/GonzaStp" target="_blank"><img src="https://image.flaticon.com/icons/png/512/23/23681.png" class="social-icons"> @GonzaStp</a></div>

			</div>
			<div class="col s12 m6 l4 center team">
				<img src="https://media.licdn.com/dms/image/C4E03AQGc6OjfP13faA/profile-displayphoto-shrink_200_200/0?e=1576713600&v=beta&t=axxuARa1YDwT3HELT-6UvfPkOjph0hDHmlLV6sDDQ_4" class="responsive-img circle">
				<h5>Paula Ghidini</h5>
				<p>Comunicación</p>
				<div class="col s6"><a href="https://www.linkedin.com/in/mar%C3%ADa-paula-ghidini-a59945151/" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" class="social-icons"> Linkedin</a></div>
				<div class="col s6"><a  href="https://twitter.com/paulaghidini" target="_blank"><img src="https://image.flaticon.com/icons/png/512/23/23681.png" class="social-icons"> @paulaghidini</a></div>

			</div>
			<div class="col s12 m6 l4 center team">
				<img src="https://media.licdn.com/dms/image/C4E03AQGMFarHhHqHVQ/profile-displayphoto-shrink_200_200/0?e=1576713600&v=beta&t=aE_orHGJOKkb82tr86mf68_9I0nyRHwhKTHAp-FKvVI" class="responsive-img circle">
				<h5>Francisco Gomez Salaverri</h5>
				<p>Desarrollador</p>
				<div class="col s6"><a href="https://www.linkedin.com/in/frangsalaverri/" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" class="social-icons"> Linkedin</a></div>
				<div class="col s6"><a  href="https://twitter.com/fran_indio" target="_blank"><img src="https://image.flaticon.com/icons/png/512/23/23681.png" class="social-icons"> @fran_indio</a></div>
			</div>
			<div class="col s12 m6 l4 center team">
				<img src="https://media.licdn.com/dms/image/C4E03AQEUEl1pgHofeQ/profile-displayphoto-shrink_200_200/0?e=1576713600&v=beta&t=3W1XXwiWl0ur2DT9mFcM5Crd1HKeA2PzZGOpncxlnS8" class="responsive-img circle">
				<h5>Miguel Soliz</h5>
				<p>Diseñador</p>
				<div class="col s6"><a href="https://www.linkedin.com/in/miguelsoliz/" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png" class="social-icons"> Linkedin</a></div>
				<div class="col s6"><a  href="https://twitter.com/miguelsoliz" target="_blank"><img src="https://image.flaticon.com/icons/png/512/23/23681.png" class="social-icons"> @miguelsoliz</a></div>
			</div>

		</div>
	</div>
</template>

<script>
	export default {
		name: "WhoPage"
	}
</script>

<style scoped>
	img{
		max-height: 100px;
	}
	.social-icons{
		vertical-align: bottom;
		width: 20px;
	}
	.team{
		margin-bottom: 2em;
	}
</style>